<div class="page-header bottom-divider">
    <h1>
        {% block headline %}
            {% if title is defined %}
                {{ title }}
            {% else %}
                {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|slice(1) }}
            {% endif %}
        {% endblock headline %}
    </h1>
</div>

