{% import "UcsEventFlowAnalyser:Tools:macros.html.twig" as macros %}
{% extends "UcsEventFlowAnalyser::layout.html.twig" %}

{% block title "UCS Event Flow Analyser: All Events" %}

{% block article %}
<article>
    <div class="row-fluid">
        <div class="span5 offset1">
        {% if ((events|length) > 10) %}
            {{ macros.display_events(events, name, 0,(events|length)/2) }}
        </div>
        <div class="span5">
            {{ macros.display_events(events, name, (events|length)/2, events|length) }}
        {% else %}
            {{ macros.display_events(events, name, 0, events|length) }}
        {% endif %}
        </div>
    </div>
</article>
{% endblock %}
