{% extends "UcsEventFlowAnalyser::layout.html.twig" %}

{% block title "UCS Event Flow Analyser" %}

{% block article %}
    <article>
        <h1>What do you want to do?</h1>
        <ul>
            <li><a href="/events">Display events</a></li>
            <li><a href="/projects">Display projects</a></li>
        </ul>
    </article>
{% endblock %}
