{% extends "UcsEventFlowAnalyser::layout.html.twig" %}

{% block head_style %}
    {% include "UcsEventFlowAnalyser::stylesheets.html.twig" %}
    {% block js_blueimp_stylesheets %}
{#         {% include "JQueryFileUploadBundle::stylesheets.html.twig" %}#}
    {% endblock js_blueimp_stylesheets %}
{% endblock head_style %}

{% block article %}
    {% block js_blueimp_form %}
    <form id="fileupload" action="{{ path('files_edit', { 'id': posting.id, 'editId': editId }) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {% include "JQueryFileUploadBundle::form.html.twig" %}
    </form>
    {% endblock js_blueimp_form %}
    <!-- modal-gallery is the modal dialog used for the image gallery -->
    {% block js_blueimp_tmpl_gallery %}
            {% include "JQueryFileUploadBundle::gallery.html.twig" %}
    {% endblock js_blueimp_tmpl_gallery %}
    <!-- The template to display files available for upload -->
    {% block js_blueimp_tmpl_upload %}
        {% include "JQueryFileUploadBundle::template-upload.html.twig" %}
    {% endblock js_blueimp_tmpl_upload %}
    <!-- The template to display files available for download -->
    {% block js_blueimp_tmpl_download %}
        {% include "JQueryFileUploadBundle::template-download.html.twig" %}
    {% endblock js_blueimp_tmpl_download %}
{% endblock %}

{% block foot_script %}
    {% include "UcsEventFlowAnalyser::javascripts.html.twig" %}
    <script type="text/javascript">
        $(blueimpUploader('{{ path('files_put', { 'editId': editId }) }}'));
    </script>
{% endblock foot_script %}
