{% extends "UcsEventFlowAnalyser::layout.html.twig" %}

{% block title "UCS Event Flow Analyser: All Events" %}

{% block article %}
    <article>
        <h1>{{ visibility }}</h1>
        <ul class="unstyled">
            {% for  soft, values in files %}
                <li><h2>{{ soft|e }}</h2></li>
                <ul class="unstyled">
                    {% for  file in values %}
                        <li><i class="icon-file"></i>{{ file|e }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
